 /* Colors (dracula) */
@define-color foreground    #f8f8f2;
@define-color background    rgba(40, 42, 54, 0.7);
@define-color orange    #ffb86c;
@define-color gray    #44475a;
@define-color black #21222c;
@define-color red    #ff5555;
@define-color green    #50fa7b;
@define-color yellow    #f1fa8c;
@define-color cyan    #8be9fd;
@define-color blue    #6272a4;
@define-color purple    #bd93f9;
@define-color pink    #ff79c6;
@define-color white #ffffff;
@define-color brred #ff6e6e;
@define-color brgreen #69ff94;
@define-color bryellow #ffffa5;
@define-color brcyan #a4ffff;
@define-color brblue #6272a4;
@define-color brpurple #d6acff;
@define-color brpink #ff92df;
@define-color arch_blue #89b4fa;

@define-color workspace_background    @background;
@define-color workspace_button    @foreground;
@define-color workspace_active    @black;
@define-color workspace_active_background    @green;
@define-color workspace_urgent    @white;
@define-color workspace_urgent_background    @brred;
@define-color workspace_hover    @black;
@define-color workspace_hover_background    @pink;
@define-color critical    @red;
@define-color warning    @yellow; 

* {
    font-family: "JetBrainsMono Nerd Font", "monospace";
    font-weight: bold;
    font-size: 14px;
}

window#waybar {
    background: rgba(30, 30, 40, 0); /* Makes the main bar invisible so modules look like they float */
}

/* This styles the background blocks for your modules */
#workspaces,
#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#custom-fuzzel,
#window,
#temperature,
#mode,
#disk,
#tray,
#custom-notification,
#custom-tailscale,
#custom-power {
    background: @background;
    color: @foreground;
    padding: 0px 10px;
    margin: 4px 2px;
    border-radius: 8px; /* This gives the rounded "pill" look */
}

/* Specific colors for icons to match the online vibe */
#custom-fuzzel { color: @arch_blue; border-radius: 12px 5px 5px 12px; }
#cpu,
#memory,
#temperature,
#disk { color: @arch_blue; }
#clock { color: @white; }
#custom-notification { color: @brpink; }

/* Workspace styling for Sway */
#workspaces button {
    color: @white;
    padding: 0 5px;
}

#workspaces button.active {
    color: @white;
    padding: 0 5px;
}

#workspaces button.focused {
    color: @black;
    background: @arch_blue;
    border-radius: 5px;
}

#workspaces button.urgent {
    background: @red;
    color: @white;
}

/* Battery states */
#battery.charging, #battery.plugged, #battery.full {
    color: @green;
}

#battery.warning:not(.charging) {
    color: @warning;
}

#battery.critical:not(.charging) {
    color: @critical;
}

.connecting {
  animation: pulse 0.8s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}